<html>
<head>
    {% load static %}
    <title>Edit Artist</title>
    <link href="{% static 'css/style_editArtist.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="all">
            <div class="head">
                <h1>Edit Artist</h1>
            </div>
            <!-- --------------------------------- -->
            <form method="post" action="{% url 'artists:update_object' artist.id %}">
                {% csrf_token %}
                <div class="form">
                    <div class="inputs">
                        <p>Name:</p>
                        <input type="text" class="texto" name="name" value="{{ artist.name }}">
                    </div>
                    <div class="button">
                        <button class="enviar">Edit Artist</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>