<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style_admin.css' %}">
        <script src="https://kit.fontawesome.com/49bec8d9b6.js" crossorigin="anonymous"></script>
        <title></title>
    </head>
    <body>
        <div class="site">
            <div class="nav_bar">
                <a href="{% url 'home' %}" class="logoref"><img src="{% static 'logobdclaro.png' %}" class="logo"></a>
                <div class="userContainer">
                    <label class="user">{{ user.username }}</label>
                    <a href="{% url 'logout' %}" class="logout">Log Out</a>
                </div>
            </div>
            <!-- ---- -->
            <div class="site_content">
                <div class="side_bar">
                    <p class="bar_title">Gestionar</p>
                    <hr class="line">
                    <a href="{% url 'admin' %}" class="options">Usuarios</a>
                    <a href="{% url 'admin_groups' %}" class="options">Roles</a>
                    <a href="{% url 'admin_permissions' %}" class="options">Permisos</a>
                    <a href="{% url 'artists:index' %}" class="options">Artistas</a>
                    <a href="{% url 'albums:index' %}" class="options">Albums</a>
                    <a href="{% url 'tracks:index' %}" class="options">Canciones</a>
                    <a href="{% url 'playlists:index' %}" class="options">Playlists</a>
                    <a href="{% url 'genres:index' %}" class="options">Generos</a>
                    <a href="{% url 'reports:index' %}" class="options">Reports</a>
                    <a href="{% url 'audits:index' %}" class="options">Audits</a>
                </div>
                <!-- ---- -->
                <div class="content">
                    <div class="usuarios">
                        <div class="usuarios_title">
                            Audits
                        </div>
                        <div class="usuarios_content">
                            <table>
                                <thead>
                                    <th> Date </th>
                                    <th> Accion </th>
                                    <th> Entidad </th>
                                    <th> Id </th>
                                    <th> User </th>
                                    <th> Payload </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for audit in audits %}
                                        <tr>
                                            <td>{{ audit.datetime }}</td>
                                            <td>{{ audit.actiontype }}</td>
                                            <td>{{ audit.entity }}</td>
                                            <td>{{ audit.entityid }}</td>
                                            <td>{{ audit.user_id }}</td>
                                            <td>{{ audit.payload }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>No hay</tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>