<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style_admin.css' %}">
        <script src="https://kit.fontawesome.com/49bec8d9b6.js" crossorigin="anonymous"></script>
        <title></title>
    </head>
    <body>
        <div class="site">
            <div class="nav_bar">
                <a href="{% url 'home' %}" class="logoref"><img src="{% static 'logobdclaro.png' %}" class="logo"></a>
                <div class="userContainer">
                    <label class="user">{{ user.username }}</label>
                    <a href="{% url 'logout' %}" class="logout">Log Out</a>
                </div>
            </div>
            <!-- ---- -->
            <div class="site_content">
                <div class="side_bar">
                    <p class="bar_title">Gestionar</p>
                    <hr class="line">
                    <a href="{% url 'admin' %}" class="options">Usuarios</a>
                    <a href="{% url 'admin_groups' %}" class="options">Roles</a>
                    <a href="{% url 'admin_permissions' %}" class="options">Permisos</a>
                    <a href="{% url 'artists:index' %}" class="options">Artistas</a>
                    <a href="{% url 'albums:index' %}" class="options">Albums</a>
                    <a href="{% url 'tracks:index' %}" class="options">Canciones</a>
                    <a href="{% url 'playlists:index' %}" class="options">Playlists</a>
                </div>
                <!-- ---- -->
                <div class="content">
                    <div class="usuarios">
                        <div class="usuarios_title">
                            Usuarios
                        </div>
                        <div class="usuarios_content">
                            <table>
                                <thead>
                                    <th> Nombre </th>
                                    <th> Email </th>
                                    <th> Superuser </th>
                                    <th> Group </th>
                                    <th> Active </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for usuario in users %}
                                        <tr>
                                            <td>{{ usuario.username }}</td>
                                            <td>{{ usuario.email }}</td>
                                            <form method="post" action="{% url 'update_user' usuario.id %}">
                                                {% csrf_token %}
                                                <td>
                                                    {% if usuario.is_superuser %}
                                                        <input type="checkbox" name="superuser" checked>
                                                    {% else %}
                                                        <input type="checkbox" name="superuser">
                                                    {% endif%}
                                                </td>
                                                <td>
                                                    <select name="selectedGroup" id="">
                                                        <option value="None">None</option>
                                                        {% if userGroups|length > 0 %}
                                                            {% for group in groups %}    
                                                                {% for key, value in userGroups.items %}
                                                                    {% if value == group.name and key == usuario.username %}
                                                                        <option value="{{ group }}" selected>{{ group.name }}</option>
                                                                    {% else %}
                                                                        <option value="{{ group }}">{{ group.name }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        {% else %}
                                                            {% for group in groups %}
                                                                <option value="{{ group }}">{{ group.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </td>
                                                <td>
                                                    {% if usuario.is_active %}
                                                        <input type="checkbox" name="active" checked>
                                                    {% else %}
                                                        <input type="checkbox" name="active">
                                                    {% endif%}
                                                </td>
                                                <td><button class="enviar">Edit</button></td>
                                            </form>
                                        </tr>
                                    {% empty %}
                                        <tr>No hay</tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="artistas"></div>
                    <div class="albums"></div>
                    <div class="canciones"></div>
                </div>
            </div>
        </div>
    </body>
</html>