<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style_admin.css' %}">
        <script src="https://kit.fontawesome.com/49bec8d9b6.js" crossorigin="anonymous"></script>
        <title></title>
    </head>
    <body>
        <div class="site">
            <div class="nav_bar">
                <img src="{% static 'logobdclaro.png' %}" class="logo">
                <div class="user">
                    {{ user.username }}
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <!-- ---- -->
            <div class="site_content">
                <div class="side_bar">
                    <p class="bar_title">Gestionar</p>
                    <hr class="line">
                    <a href="{% url 'admin' %}" class="options">Usuarios</a>
                    <a href="{% url 'admin_groups' %}" class="options">Roles</a>
                    <a href="{% url 'admin_permissions' %}" class="options">Permisos</a>
                    <a href="{% url 'artists:index' %}" class="options">Artistas</a>
                    <a href="{% url 'albums:index' %}" class="options">Albums</a>
                    <a href="{% url 'tracks:index' %}" class="options">Canciones</a>
                    <a href="{% url 'playlists:index' %}" class="options">Playlists</a>
                </div>
                <!-- ---- -->
                <div class="content">
                    <div class="usuarios">
                        <div class="usuarios_title">
                            Roles
                        </div>
                        <div class="usuarios_content">
                            <table>
                                <tr>
                                    <form method="post" action="{% url 'create_group' %}">
                                        {% csrf_token %}
                                        <td><input type="text" name="name" placeholder="NUEVO"></td>
                                        <td>C<input type="checkbox" name="createPermission"></td>
                                        <td>R<input type="checkbox" name="readPermission" checked></td>
                                        <td>U<input type="checkbox" name="updatePermission"></td>
                                        <td>D<input type="checkbox" name="deletePermission"></td>
                                        <td><button class="enviar">Create</button></td>
                                    </form>
                                    <td></td>
                                  </tr>
                            </table>
                            <table>
                                <thead>
                                    <th> Nombre </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for group in groups %}
                                        <tr>
                                            <form method="post" action="{% url 'update_group' group.id %}">
                                                {% csrf_token %}
                                                <td><input type="text" name="name" value="{{ group.name }}"></td>
                                                {% if createPermission in group.permissions.all %}
                                                    <td>C<input type="checkbox" name="createPermissions" checked></td>
                                                {% else %}
                                                    <td>C<input type="checkbox" name="createPermissions"></td>
                                                {% endif %}

                                                {% if readPermission in group.permissions.all %}
                                                    <td>R<input type="checkbox" name="readPermissions" checked></td>
                                                {% else %}
                                                    <td>R<input type="checkbox" name="readPermissions"></td>
                                                {% endif %}

                                                {% if updatePermission in group.permissions.all %}
                                                    <td>U<input type="checkbox" name="updatePermissions" checked></td>
                                                {% else %}
                                                    <td>U<input type="checkbox" name="updatePermissions"></td>
                                                {% endif %}

                                                {% if deletePermission in group.permissions.all %}
                                                    <td>D<input type="checkbox" name="deletePermissions" checked></td>
                                                {% else %}
                                                    <td>D<input type="checkbox" name="deletePermissions"></td>
                                                {% endif %}
                                                <td><button class="enviar">Edit</button></td>
                                            </form>
                                            <td><a href="{% url 'delete_group' group.id %}">Delete</a></td>
                                        </tr>
                                    {% empty %}
                                        <tr>No hay</tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="artistas"></div>
                    <div class="albums"></div>
                    <div class="canciones"></div>
                </div>
            </div>
        </div>
    </body>
</html>