<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>gender</title>
    <link href="{% static 'css/style_forms.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="conteiner">
        <div class="all">
            <div class="head">
                <img src="{% static 'logobdclaro.png' %}" class="logo">
                <h1>Nuevo genero</h1>
            </div>
            <div class="formulario">
                <p>Nombre:</p>
                <input type="text" class="texto" placeholder="">
                <br>
                <br>
                <br>
                <button class="enviar">ADD GENDER</button>
            </div>
        </div>
    </div>
</body>
</html>