<html>
<head>
    {% load static %}
    <link href="{% static 'css/style_home.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/49bec8d9b6.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <!---encabezado-->
    <div class='header'>
        <div class='conteiner'>
            <a href="{% url 'home' %}" class="logoref"><img src="{% static 'logo.jpeg' %}" class="logo"></a>
        </div>
        <div class='conteiner'>
            <form method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="form">
                    <div class="inputs">
                        <input type="text" class="buscar" name="search" placeholder="BUSCAR">
                    </div>
                    <div class="button">
                        <button class="botonHome">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class='conteiner'>
            <a href="{% url 'reports' %}">REPORTES</a>
            <label class="usuario">{{user.username}}</label>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
    </div>
    <br>
    <!--centro-->
    <div class="centro">
        <div class="titGenero">
            <h1>Generos</h1>
            <a href="{% url 'reports' %}" class="vtg">Ver todo</a>
        </div>
        <div class="musica">
            {% for genre in genres %}
                <div class="tema">
                    <img src="" class="imagen">
                    <p>{{genre.name}}</p>
                </div>
            {% empty %}
                <p>No hay generos</p>
            {% endfor %}
        </div>
        <div class="titArtista">
            <h1>Artistas</h1>
            <a href="{% url 'artists:index' %}" class="vtg">Ver todo</a>
        </div>
        <div class="musica">
            {% for artist in artists %}
                <div class="tema">
                    <img src="" class="imagen">
                    <p>{{artist.name}}</p>
                </div>
            {% empty %}
                <p>No hay artistas</p>
            {% endfor %}
        </div>
        <div class="titCanciones">
            <h1>Canciones</h1>
            <a href="{% url 'tracks:index' %}" class="vtg">Ver todo</a>
        </div>
        <div class="musica">
            {% for track in tracks %}
                <div class="cancion">
                    <img src="" class="imagen">
                    <p>{{track.name}}</p>
                    <p>{{track.composer}}</p>
                </div>
            {% empty %}
                <p>No hay canciones</p>
            {% endfor %}
        </div>
        <div class="titAlbumes">
            <h1>Albumes</h1>
            <a href="{% url 'albums:index' %}" class="vtg">Ver todo</a>
        </div>
        <div class="musica">
            {% for album in albums %}
                <div class="tema">
                    <img src="" class="imagen">
                    <p>{{album.title}}</p>
                </div>
            {% empty %}
                <p>No hay albumes</p>
            {% endfor %}
        </div>
        <div class="titPlaylist">
            <h1>Playlists</h1>
            <a href="{% url 'playlists:index' %}" class="vtg">Ver todo</a>
        </div>
        <div class="musica">
            {% for playlist in playlists %}
                <div class="tema">
                    <img src="" class="imagen">
                    <p>{{playlist.name}}</p>
                </div>
            {% empty %}
                <p>No hay playlists</p>
            {% endfor %}
        </div>
    </div>
</body>