<html>
<head>
    <title>Reportes</title>
    {% load static %}
    <link href="{% static 'css/style_reports.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
     <!---encabezado-->
     <div class='header'>
        <div class='conteiner'>
            <a href="{% url 'home' %}"><img src="{% static 'logobdclaro.png' %}" class="logo"></a>
        </div>
        <div class='conteiner2'>
            <form method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="form">
                    <div class="inputs">
                        <input type="text" class="buscar" name="search" placeholder="Buscar...">
                    </div>
                    <div class="button">
                        <button class="botonHome">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class='conteiner'>
            <label class="usuario">{{user.username}}</label>
            <a href="{% url 'logout' %}" class="logout">Log Out</a>
        </div>
    </div>
    <br>
    <!--centro-->
    <div class="centro">
        <!--1-->
        <div class="grafica">
            <h3>Género con más artistas</h3>
            <div class="g1">
                <!-- la grafica -->
                <table>
                    <thead>
                        <th>Género</th>
                        <th>Cantidad Artistas</th>
                    </thead>
                    <tbody>
                        {% for genero in generosMasArtistas %}
                            <tr>
                                <td>{{genero.genre}}</td>
                                <td>{{genero.cantidadartistas}}</td>
                            </div>
                        {% empty %}
                            <tr>No hay</tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!--2-->
        <div class="grafica">
            <h3>Género con más canciones</h3>
            <div class="g1">
                <!-- la grafica -->
                <table>
                  <tr>
                    <th>Género</th>
                    <th>Cantidad Canciones</th>
                  </tr>
                  {% for genero in generosMasCanciones %}
                      <tr>
                          <td>{{genero.name}}</td>
                          <td>{{genero.cantidad}}</td>
                      </div>
                  {% empty %}
                      <tr>No hay</tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        <!--3-->
        <div class="grafica">
            <h3>Artistas con más albumes individuales</h3>
            <div class="g1">
                <!-- la grafica -->
                <table>
                  <tr>
                    <th>Artista</th>
                    <th>Cantidad Albumes</th>
                  </tr>
                  {% for artista in artistasMasAlbumes %}
                      <tr>
                          <td>{{artista.name}}</td>
                          <td>{{artista.cantidad}}</td>
                      </div>
                  {% empty %}
                      <tr>No hay</tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        <!--4-->
        <div class="grafica">
            <h3>Canciones de mayor duración</h3>
            <div class="g1">
                <!-- la grafica -->
                <table>
                  <tr>
                    <th>Canción</th>
                    <th>Duración</th>
                  </tr>
                  {% for cancion in cancionesMasDuracion %}
                      <tr>
                          <td>{{cancion.name}}</td>
                          <td>{{cancion.duracion}}</td>
                      </div>
                  {% empty %}
                      <tr>No hay</tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        <!--5-->
        <div class="grafica">
            <h3>Usuarios que han registrado más canciones</h3>
            <div class="g1">
                <!-- la grafica -->
                <table>
                  <tr>
                    <th>User</th>
                    <th>Cantidad Canciones</th>
                  </tr>
                  {% for usuario in usuariosMasCanciones %}
                      <tr>
                          <td>{{usuario}}</td>
                      </div>
                  {% empty %}
                      <tr>
                        <td>No hay</td>
                        <td>No hay</td>
                      </tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        <!--6-->
        <div class="grafica">
            <h3>Promedio duración de canciones por genero</h3>
            <div class="g1">
                <!-- la grafica -->
                <table>
                  <tr>
                    <th>Género</th>
                    <th>Promedio Duración de Canciones</th>
                  </tr>
                  {% for genero in promedioCancionPorGenero %}
                      <tr>
                          <td>{{genero.name}}</td>
                          <td>{{genero.tiempo}}</td>
                      </div>
                  {% empty %}
                      <tr>No hay</tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        <!--7-->
        <div class="grafica">
            <h3>Total duración playlists</h3>
            <div class="g1">
                <!-- la grafica -->
                <table>
                  <tr>
                    <th>Playlist</th>
                    <th>Duración</th>
                  </tr>
                  {% for playlist in totalDuracionPlaylists %}
                      <tr>
                          <td>{{playlist.name}}</td>
                          <td>{{playlist.tiempo}}</td>
                      </div>
                  {% empty %}
                      <tr>No hay</tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        <!--8-->
        <div class="grafica">
            <h3>Artistas con más canciones</h3>
            <div class="g1">
                <!-- la grafica -->
                <table>
                  <tr>
                    <th>Artista</th>
                    <th>Cantidad Canciones</th>
                  </tr>
                  {% for artista in artistasMasCanciones %}
                      <tr>
                          <td>{{artista.name}}</td>
                          <td>{{artista.cantidad}}</td>
                      </div>
                  {% empty %}
                      <tr>No hay</tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        <!--9-->
        <div class="grafica">
            <h3>Cantidad de artistas diferentes por playlist</h3>
            <div class="g1">
                <!-- la grafica -->
                <table>
                  <tr>
                    <th>Playlist</th>
                    <th>Cantidad Artistas</th>
                  </tr>
                  {% for playlist in cantidadArtistasPlaylists %}
                      <tr>
                          <td>{{playlist.plname}}</td>
                          <td>{{playlist.count}}</td>
                      </div>
                  {% empty %}
                      <tr>No hay</tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        <!--10-->
        <div class="grafica">
            <h3>Artistas con más diversidad de géneros musicales</h3>
            <div class="g1">
                <!-- la grafica -->
                <table>
                  <tr>
                    <th>Artista</th>
                    <th>Cantidad Géneros</th>
                  </tr>
                  {% for artista in artistasDiversidadGenero %}
                      <tr>
                          <td>{{artista.name}}</td>
                          <td>{{artista.cantidad}}</td>
                      </div>
                  {% empty %}
                      <tr>No hay</tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        
      </div>
    </div>
</body>
</html>