<html>
<head>
    {% load static %}
    <title>Home</title>
    <link href="{% static 'css/style_search.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <!---encabezado-->
    <div class='header'>
        <div class='container'>
            <a href="{% url 'home' %}"><img src="{% static 'logobdclaro.png' %}" class="logo"></a>
        </div>
        <div class='container'>
            <form method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="form">
                    <div class="inputs">
                        <input type="text" class="buscar" name="search" placeholder="Buscar...">
                    </div>
                    <div class="button">
                        <button class="botonHome">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class='container'>
            <label class="usuario">{{user.username}}</label>
            <a href="{% url 'logout' %}" class="logout">Log Out</a>
        </div>
    </div>
    <br>
    <!--centro-->
    <div class="centro">
        <div class="titGenero">
            <h1>Resultados</h1>
        </div>
        <table>
            <tr>
                <th>Tipo</th>
                <th>Nombre</th>
            </tr>
            {% for result in resultSearch %}
                <tr>
                    <td>{{result.tipo}}</td>
                    <td>{{result.name}}</td>
                </tr>
            {% empty %}
                <tr>No hay resultados</tr>
            {% endfor %}
        </table>
    </div>
</body>