<html>
<head>
    <title>Mongo</title>
    {% load static %}
    <link href="{% static 'css/style_reports.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
     <!---encabezado-->
     <div class='header'>
        <div class='conteiner'>
            <a href="{% url 'home' %}"><img src="{% static 'logobdclaro.png' %}" class="logo"></a>
        </div>
        <div class='conteiner2'>
            <form method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="form">
                    <div class="inputs">
                        <input type="text" class="buscar" name="search" placeholder="Buscar...">
                    </div>
                    <div class="button">
                        <button class="botonHome">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class='conteiner'>
            <a href="{% url 'reports:index' %}" class="reportes">Reportes</a>
            <label class="usuario">{{user.username}}</label>
            <a href="{% url 'logout' %}" class="logout">Log Out</a>
        </div>
    </div>
    <br>
    <!--centro-->
    <div class="centro">
        <!--1-->
        <div class="grafica">
            <h3>Mostrar collection</h3>
            <div class="g1">
                <form method="post" action="{% url 'mongo:print' %}">
                    {% csrf_token %}
                    <p>Ingrese el nombre de una collection</p>
                    <input type="text" name="collection">
                    <div class="button">
                        <button class="boton">Mostrar</button>
                    </div>
                </form>
            </div>
        </div>
        <!--2-->
        <div class="grafica">
            <h3>Vaciar collection</h3>
            <div class="g1">
                <form method="post" action="{% url 'mongo:empty' %}">
                    {% csrf_token %}
                    <p>Ingrese el nombre de una collection</p>
                    <input type="text" name="collection">
                    <div class="button">
                        <button class="boton">Vaciar</button>
                    </div>
                </form>
            </div>
        </div>
        
      </div>
    </div>
</body>
</html>