<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style_admin_canciones.css' %}">
        <script src="https://kit.fontawesome.com/49bec8d9b6.js" crossorigin="anonymous"></script>
        <title></title>
    </head>
    <body>
        <div class="site">
            <div class="nav_bar">
                <a href="{% url 'home' %}" class="logoref"><img src="{% static 'logobdclaro.png' %}" class="logo"></a>
                <div class="userContainer">
                    <label class="user">{{ user.username }}</label>
                    <a href="{% url 'logout' %}" class="logout">Log Out</a>
                </div>
            </div>
            <!-- ---- -->
            <div class="site_content">
                <div class="side_bar">
                    <p class="bar_title">Gestionar</p>
                    <hr class="line">
                    {% if user.is_superuser %}
                        <a href="{% url 'admin' %}" class="options">Usuarios</a>
                        <a href="{% url 'admin_groups' %}" class="options">Roles</a>
                        <a href="{% url 'admin_permissions' %}" class="options">Permisos</a>
                    {% endif %}
                    <a href="{% url 'artists:index' %}" class="options">Artistas</a>
                    <a href="{% url 'albums:index' %}" class="options">Albums</a>
                    <a href="{% url 'tracks:index' %}" class="options">Canciones</a>
                    <a href="{% url 'playlists:index' %}" class="options">Playlists</a>
                    <a href="{% url 'genres:index' %}" class="options">Generos</a>
                </div>
                <!-- ---- -->
                <div class="content">
                    <div class="usuarios">
                        <div class="trackTitle">
                            <div class="usuarios_title">
                                Shopping Cart
                            </div>
                        </div>
                        
                        <div class="usuarios_content">
                            <table>
                                <thead>
                                    <th> Name </th>
                                    <th> Composer </th>
                                    <th> Duracion </th>
                                    <th> Price </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for track in tracks %}
                                        <tr>
                                            <td>{{ track.name }}</td>
                                            <td>{{ track.composer }}</td>
                                            <td>{{ track.duracion }} min</td>
                                            <td>{{ track.unitprice }}</td>
                                            <td><a href="{% url 'shoppingcarts:delete' track.id %}" class="eliminar">Delete</a></td>
                                        </tr>
                                    {% empty %}
                                        <tr>No hay</tr>
                                    {% endfor %}
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href="{% url 'shoppingcarts:buy' %}" class="editar">Confirmar</a>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>