html {
    background: black;
}

.header{
    display: flex;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 20% 50% auto;
    border-bottom: 1px solid white;
   /*background-color: aqua;*/
}

.container{
    display: flex;
    margin: 8px;
    /*background-color: blueviolet;*/
    justify-content: center;
    align-items: center;
}

.container2{
    display: flex;
    margin: 8px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}


.logo{
    display: flex;
    width: 190px;
    height: 80px;
}

.buscar{
    display: flex;
    width: 600px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    padding: 5px;
    background: #576066;
    color: white;
}

::placeholder { 
    color: white;
    opacity: 1; 
  }

.buscar:focus{
    outline: none;
}

.botonHome {
    border-radius: 50px;
    font-size: 20px;
    margin-left: 10px;
    background: #576066;
    color: white;
    border: none;
    padding: 5px;
}

.botonArchivo {
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.usuario{
    border-right: 10px;
    font-size: 30px;
    margin-right: 20px;
}

.centro{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 500px 500px 500px;
}

.g1{
    background: #BBCBCB;
    width: 100%;
    height: 425px;
    border-radius: 8px;
    overflow-y:scroll; 
    overflow-x:hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
}

h3{
    color: white;
    text-align: center;
    font-size: 25px;
}

a, .usuario{
    color: white;
}

.logout {
    margin-top: 8px;
}

.form {
    display: flex;
    margin-top: 20px;
}
