html, body {
    height: 100%;
    margin: 0;
}

.site{
    height: 100%;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
}

/* .user {
    color: white;
    font-size: 30px;
    margin-right: 3%;
    margin-top: 1%
} */

.userContainer {
    /* margin-right: 3%;
    margin-top: 1% */
    display: flex;
    margin: 8px;
    /*background-color: blueviolet;*/
    justify-content: center;
    align-items: center;
    width: 130px;
}

.user{
    color: white;
    font-size: 30px;
}

.logout {
    color: white;
    margin-left: 10px;
    margin-right: 3%;
    margin-top: 8px;
}

.fas {
    color: white;
    font-size: 30px;
}

.logo {
    width: 170px;
    height: 80px;
    margin-left: 2%;
}

.side_bar{
    display: flex;
    flex-direction: column;
    background: black;
    width: 15%;
    height: 100%;
    align-items: center;
    color: white;

}

.line {
    width: 80%;
}

.bar_title {
    margin-top: 25%;
    margin-bottom: 0px;
    font-size: 25px;
}

.options {
    margin-top: 7%;
    font-size: 25px;
    color: white;
}

.site_content {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;
}

.usuarios_title {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
}

.usuarios_content {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
}

.btnDelete {
    background-color: red;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    border: none;
    color: white;
    font-size: 15px;
}

.createTrack{
    margin-left: 1%;
    background: green;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    color: white;
}

.trackTitle{
    margin-top: 3%;
    font-size: 20px;
}

.editar{
    background: green;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.eliminar {
    background: red;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.usuarios_content{
    height: 800px;
    overflow-y:scroll; 
    overflow-x:hidden;
}

a, .logoref{
    margin-left: 1.8%;
}
