.header{
    display: flex;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 20% 50% auto;
    /*background-color: aqua;*/
}

.conteiner{
    display: flex;
    margin: 8px;
    /*background-color: blueviolet;*/
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    border-radius: 10px;
    width: 250px;
    height: 100px;
}

.buscar{
    display: flex;
    width: 200px;
}

.usuario{
    border-right: 10px;
}

.centro{
    display: flex;
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: 50px 200px 50px 200px 50px 200px 50px 200px 50px 200px;
    /*background-color: palevioletred;*/
}

.titGenero, .titCanciones, .titAlbumes, .titPlaylist, .titArtista{
    display: flex;
    justify-content: space-between;
}

.vtg {
    margin-top: 36px;
}

.musica{
    display: flex;
    /*background-color: rgb(186, 118, 250);*/
    justify-content: center;
    align-items: center;
    border-top: black 1px solid;
    overflow-y:hidden; 
    overflow-x:scroll;
}

/* Tamaño del scroll */
.musica::-webkit-scrollbar {
width: 8px;
height: 8px;
}

/* Estilos barra (thumb) de scroll */
.musica::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 4px;
}

.musica::-webkit-scrollbar-thumb:active {
background-color: #999999;
}

.musica::-webkit-scrollbar-thumb:hover {
background: #b3b3b3;
box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.musica::-webkit-scrollbar-track {
background: #e1e1e1;
border-radius: 4px;
}

.musica::-webkit-scrollbar-track:hover, 
.musica::-webkit-scrollbar-track:active {
background: #d4d4d4;
}
  
.tema {
    display: grid;
    grid-template-rows: 80% 10%;
    width: 200px;
    background-color: rgb(170, 170, 170);
    border-radius: 8px;
    height: 180px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
}

.cancion{
    display: grid;
    grid-template-rows: 80% 5% 5%;
    width: 200px;
    background-color: rgb(170, 170, 170);
    border-radius: 8px;
    height: 180px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
}
.imagen{
    width: 100px;
    height: 100px;
}

select {
    font-family: 'FontAwesome';
}
