.all{
    height: 735px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.canciones{
    display: grid;
    grid-template-rows: 20% auto;
    border-left: black 1px solid;
    border-right: black 1px solid;
}

.logo{
    display: flex;
    border-radius: 10px;
    width: 250px;
    height: 100px;
}

.header{
    display: grid;
    grid-gap: 3px;
    grid-template-rows: auto 30px;
    grid-template-columns: 250px auto;
    /*background-color: darkgreen;*/
    align-items: center;
}

.busqueda{
    display: grid;
    grid-row-gap: 2px;
}

.scroll{
    /*background-color: cyan;*/
    overflow-y:scroll; 
    overflow-x:hidden;
}

/* Tamaño del scroll */
.scroll::-webkit-scrollbar {
width: 8px;
height: 8px;
}

/* Estilos barra (thumb) de scroll */
.scroll::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:active {
background-color: #999999;
}

.scroll::-webkit-scrollbar-thumb:hover {
background: #b3b3b3;
box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.scroll::-webkit-scrollbar-track {
background: #e1e1e1;
border-radius: 4px;
}

.scroll::-webkit-scrollbar-track:hover, 
.scroll::-webkit-scrollbar-track:active {
background: #d4d4d4;
}

.info{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 100px auto 130px;
    background-color: gainsboro;
    border-top: black 1px solid;
    width: 100%;
    height: 100px;
    align-items: center;
}

.imagen{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin: 4px;
}

.texto{
    width: 500px;
}

.formulario{
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    /*background-color: pink;*/
}

.enviar{
    background-color: deepskyblue;
    height: 30px;
    width: 500px;
}

