<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style_admin_albums.css' %}">
        <script src="https://kit.fontawesome.com/49bec8d9b6.js" crossorigin="anonymous"></script>
        <title></title>
    </head>
    <body>
        <div class="site">
            <div class="nav_bar">
                <a href="{% url 'home' %}" class="logoref"><img src="{% static 'logobdclaro.png' %}" class="logo"></a>
                <div class="userContainer">
                    <label class="user">{{ user.username }}</label>
                    <a href="{% url 'logout' %}" class="logout">Log Out</a>
                </div>
            </div>
            <!-- ---- -->
            <div class="site_content">
                <div class="side_bar">
                    <p class="bar_title">Gestionar</p>
                    <hr class="line">
                    {% if user.is_superuser %}
                        <a href="{% url 'admin' %}" class="options">Usuarios</a>
                        <a href="{% url 'admin_groups' %}" class="options">Roles</a>
                        <a href="{% url 'admin_permissions' %}" class="options">Permisos</a>
                    {% endif %}
                    <a href="{% url 'artists:index' %}" class="options">Artistas</a>
                    <a href="{% url 'albums:index' %}" class="options">Albums</a>
                    <a href="{% url 'tracks:index' %}" class="options">Canciones</a>
                    <a href="{% url 'playlists:index' %}" class="options">Playlists</a>
                    <a href="{% url 'genres:index' %}" class="options">Generos</a>
                </div>
                <!-- ---- -->
                <div class="content">
                    <div class="usuarios">
                        <div class="albumTitle">
                            <a href="{% url 'albums:create' %}" class="createAlbum">New Album</a>
                            <div class="usuarios_title">
                                <label class="albumTitle">Albums</labbel>
                            </div>
                        </div>
                        <div class="usuarios_content">
                            <table>
                                <thead>
                                    <th> Num </th>
                                    <th> Name </th>
                                    <th> Artist </th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for album in albums %}
                                        <tr>
                                            <td>{{ album.albumid }}</td>
                                            <td>{{ album.title }}</td>
                                            <td>{{ album.artistid }}</td>
                                            <td><a href="{% url 'albums:update' album.albumid %}" class="editar" id = '{{album.id}}'>Edit</a></td>
                                            <!-- <td><button type="button" class="btnDelete">Delete</button></td> -->
                                            <td><a href="{% url 'albums:delete' album.albumid %}" class="eliminar">Delete</a></td>
                                        </tr>
                                    {% empty %}
                                        <tr>No hay</tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="artistas"></div>
                    <div class="albums"></div>
                    <div class="canciones"></div>
                </div>
            </div>
        </div>
    </body>
</html>