<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>playlist</title>
    <link href="{% static 'css/style_forms.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="all">
            <div class="head">
                <h1>Create Playlist</h1>
            </div>
            <form method="post" action="{% url 'playlists:create_new' %}">
                {% csrf_token %}
                <div class="form">
                    <div class="inputs">
                        <p>Name:</p>
                        <input type="text" class="texto" name="name" value="{{ playlist.name }}">
                    </div>
                    <div class="button">
                        <button class="enviar">Create Playlist</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>